  <ul>
    {{# each rooms as |room key|}}
      <li class="result-items">
        <div class="card">
            <article class="">
                <div class="resume">
                  <span class="myid">{{room.id}}</span>
                  <a href="#">{{room.title}}</a>
                  <span>{{room.description}}</span>
                </div>
                <img src="" alt="">
                <div class="details">
                  <ul>
                    <li>{{room.squareMeters}}</li>
                    <li>{{room.baths}}</li>
                    <li>{{room.beds}}</li>
                  </ul>
                </div>
            </article>
        </div>
      </li>
    {{/each}}
  </ul>
  <p>{{foundProperties}}</p>
{{{paginate foundProperties atualPage=atualPage}}}
