<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Spotippos Index</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" as="style" href="/css/main.css" />
</head>
<body>
  <article>
    <header class="top">
      <h1>{{title}}</h1>
      <span>logo</span>
    </header>
  </article>

  <div class="main">
      <div id="filter-container">
        <form id="formFilter" method="get">
          <fieldset>
            <legend>Filtro</legend>
            <ul>
              <li>
                {{{input_label 'AX' id='ax_lb'}}}
                {{{input_text ax id='ax'}}}
              </li>
              <li>
                {{{input_label 'ay' id='ay_lb'}}}
                {{{input_text ay id='ay'}}}
              </li>
              <li>
                {{{input_label 'bx' id='bx_lb'}}}
                {{{input_text bx id='bx'}}}
              </li>
              <li>
                {{{input_label 'by' id='by_lb'}}}
                {{{input_text by id='by'}}}
              </li>
              <li>
                {{{input_label 'id' id='id_lb'}}}
                {{{input_text id id='id'}}}
              </li>
              <li>
                {{{input_label 'Area' id='squareMeters_lb'}}}
                {{{input_text squareMeters id='squareMeters'}}}
              </li>
              <li>
                {{{input_label 'Camas' id='beds_lb'}}}
                {{{input_text beds id='beds'}}}
              </li>
              <li>
                {{{input_label 'Banheiros' id='baths_lb'}}}
                {{{input_text baths id='baths'}}}
              </li>
              <li>
                {{{input_label 'Preço minimo' id='minprice_lb'}}}
                {{{input_text minprice id='minprice'}}}
              </li>
              <li>
                {{{input_label 'Preço Maximo' id='maxprice_lb'}}}
                {{{input_text ax id='maxprice'}}}
              </li>
              <li>
                <input type="range" name="points" min="0" max="10">
              </li>
            </ul>
          </fieldset>
        </form>
      </div>
      <div id="result-list">
        {{{ body }}}

      </div>
  </div>
        {{{paginate foundProperties}}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.8/handlebars.js" charset="utf-8"></script>
  <script src="/js/dist/bundle.js" charset="utf-8"></script>
</body>
</html>
